# <p style="font-family: Arial; font-size:2.4em;color:red;"> Contents </p>
*[Section 1. Arithmetic Operator](ch02.ipynb/#section1) <br>
*[Section 2. Variables ](#section2) <br>
*[Section 3. Output in Python ](#section3) <br>
*[Section 4. Input Statement ](#section4) <br>
*[Section 5. String ](#section5) <br>
***

***
<a id="section1"></a>
# <p style="font-family: Arial; font-size:2.4em;color:red;"> 1. Arithmetic Operator </p>
### <p style="font-family: Arial; font-size:1.4em;color:gold;">  +, -, *, / , // </p>

### Run all the blow code cells and see the results (click the cell and press "ctrl-enter" to run it)

#### **Problem #1.0**

Run the below code cell and figure out the data type of values
<br>

In [ ]:
10 + 20

30

In [ ]:
10.0 + 20.0

30.0

In [ ]:
10 * 20

200

In [ ]:
10 / 20

0.5

In [ ]:
10 // 20

0

In [ ]:
5 * 10 // 20

2

In [ ]:
5 * 30 + 10 // 20

150

In [ ]:
5 * 30 / 2

75.0

In [ ]:
75 // 20

3

In [ ]:
5 * 30 / 2 // 20

3.0

#### **Problem #1.1**

Complete the follow code cells
<br>

#### Let's multiply 24.0 and 25.4

In [ ]:
24.0 * 25.4

609.5999999999999

#### **Problem #1.2**

#### Let's divide 23 by 2

In [ ]:
23 / 2

11.5

#### **Problem #1.3**

#### Let's divide 100 by 20. Show the result as an integer value like 5, not 5.0

In [ ]:
100 // 20

5

#### **Problem #1.4**

### Explain how you can get the integer result 5 from 100 divide by 20

By using the // operator instead of /

## 👉 Please save<font color='red'> **(ctrl-s or cmd-s)** </font> your file to make a checkpoint.

***
<a id="section2"></a>
# <p style="font-family: Arial; font-size:2.4em;color:red;"> 2. Variables</p>

#### Concepts:
<blockquote> A variable is a name that represents a value stored in the computer’s memory.
</blockquote>

<blockquote>
An assignment statement is written in the following general format:
variable = expression
</blockquote>

In [ ]:
width = 10
length = 5

length = 10

In [ ]:
class_name = 'Python'
class_name

'Python'

#### **Problem #2.0**

Run the below code cell and figure out the data type of values
<br>

In [ ]:
type(width)

int

In [ ]:

type(class_name)

str

In [ ]:
print ("Hello World")

Hello World

#### **Problem #2.1**


let's create a variable called `my_school` and assign a string (anything inside quotes: `"..."`) to it with your school's name.

<br>

**NOTE**: We will output the variable's value by writing the name of the variable on a line of its own.

In [ ]:
my_school = "AVC"

my_school

'AVC'

#### **Problem #2.2**

Let's create <font color="red"> two varibles </font> to hold two scores 100 and 90 repectivelu and show the sum of two scores.
<br>

**NOTE**: We will output the variable's value by writing the name of the variable on a line of its own.

In [ ]:

score1 = 100
score2 = 90
print (score1 + score2)

190

#### **Problem #2.3**

Let's create the <font color="red"> **varibles** </font> to hold two values,  <br>
100  <br>
50.99   <br>
<br>
The variable names can be any names you want
Then, show the summation of two variables.

**NOTE**: We will output the variable's value by writing the name of the variable on a line of its own.

In [ ]:

sum1 = 100
sum2 = 50.99
print(sum1 + sum2)

150.99

#### **Problem #2.4**

Let's create the <font color="red"> **varibles** </font> to hold two values,  <br>
<br><mark style="background-color:green; color:white">
Python  <br>
Programming   <br>
</mark>
<br> </font>
The variable names can be any names you want
Then, show the summation of two variables.

**NOTE**: We will output the variable's value by writing the name of the variable on a line of its own.

In [ ]:

value1 = "Phyton"
value2 = "Programming"
print(value1 +" " + value2)

Phyton Programming

#### **Problem #2.5**

#### make the expression to calculate the following math expression
#### Set 30 to C and Solve the F value
![Math Expression](https://wecapable.com/tools/celsius-to-fahrenheit/celsius-to-fahrenheit-conversion-formula-igetanswers.jpg)

<br> Show the answer for F

In [ ]:
C = 30
F = (9/5* C) + 32
print(F)

86.0

#### **Problem #2.6**

#### Set the price value $200 to your variable (any variable name you want)
#### Calculate the 20% off price
#### Show the final price

In [ ]:
price = 200
discounted= 200 * .80
print(discounted)

160.0

#### **Problem #2.7**

#### Create three integer variables to hold the following values
##### 100
##### 50
##### 200

#### Calculate the average of three values
#### Show the average

In [ ]:
num1 = 100
num2 = 50
num3 = 200
print((num1 + num2 + num3)/3)

116.66666666666667

## 👉 Please save<font color='red'> **(ctrl-s or cmd-s)** </font> your file to make a checkpoint.

***
<a id='section3'></a>
# <p style="font-family: Arial; font-size:2.4em;color:Red;"> 3. Output in Python </p>

### Simple Formatting Numbers


- `Simple way to print with format:`

	- <a href="https://docs.python.org/3/library/functions.html?highlight=format#format"> format(value[, format_spec])
	</a>
	- <a href="https://docs.python.org/3/library/string.html#formatspec"> Format Specification </a>

![Format Specifier](https://nimbus-screenshots.s3.amazonaws.com/s/cc0c0ec7efc3aba9bc4406f053b8fdf4.png)

#### <font color='red'> **Problem #3.1** </font>

#### Run all the below cells and figure out the output format symbols

### <mark style="background-color:green; color:white"> formatting </mark>

In [8]:
# Format with width, Decimal / Float

print ( 123456789 )
print (format(123456789, '15d'))
print (format(12345.678, '.2f'))

123456789
      123456789
12345.68

In [7]:
# Scientific Notation

print (format(12345.6789, 'e'))
print (format(12345.6789, '.2e'))

1.234568e+04
1.23e+04

In [6]:
#? Inserting comma separator

print (format(123456789.12345, ',.2f'))

123,456,789.12

In [5]:
#? Floating point numbers as a percentage

print (format(12345.6789, '.2%'))

1234567.89%

### <mark style="background-color:green; color:white"> % formatting </mark>

In [1]:
val1 =  1000
print ("Value 1 is %d" % (val1))

Value 1 is 1000

In [9]:

val1 = 100
val2 = 1234.5678
strval = "COMSC140"

print ("Integer value: %d, String Value: %s, Floating Value:%.2f" % (val1, strval, val2))

Integer value: 100, String Value: COMSC140, Floating Value:1234.57

#### <mark style="background-color:green; color:white"> Using the String format </mark>

In [10]:
print ( '{0} {1} Class'.format('Python', 'Programming'))

Python Programming Class

In [11]:
print ( '{0:>25} {1:15} Class'.format('Python', 'Programming'))

                   Python Programming     Class

In [12]:
print('This {food} is {adjective}.'.format(food='spam', adjective='absolutely horrible'))

This spam is absolutely horrible.

In [13]:
v1 = 100; v2 = 200

print ("Value 1: {} and Value 2: {}".format(v1, v2))

Value 1: 100 and Value 2: 200

In [14]:
avg = (100 + 50 + 20) / 3

print ("The average is {0:.2f} ".format(avg))
print ("The average is {:.2f} ".format(avg))

print('The average is {0:.2f}'.format(59.999999))

The average is 56.67
The average is 56.67
The average is 60.00

In [15]:
print ( format(12345.6789, '.2f'))
print ( format(12345, '10d'))
print ( format(12345.6789, 'e'))
print ( format(12345.6789, '.2e'))
print ( format(12345.6789, '.2%'))

12345.68
     12345
1.234568e+04
1.23e+04
1234567.89%

In [16]:
# 2.8 More about Data output

print ('one')
print ('two')
print ('three')

print ('one', end=' ')
print ('two', end=' ')
print ('three', end=' ')

#? Specifying an Item Separator
print ('one', 'two', 'three', sep='/')

one
two
three
one two three one/two/three

## 👉✅ <mark style="background-color:green; color:white"> PEP 498; f-string </mark>

In [19]:
value = 10

print (f'The value is {value}')
print (f'The value is {value:20}')

fvalue = 12.34
print (f'The value is {fvalue:>10}')
print (f'The value is {fvalue:.5f}')

strval = "Python Programming"
print (f"The string value is {strval:>50}")

The value is 10
The value is                   10
The value is      12.34
The value is 12.34000
The string value is                                 Python Programming

***
### Operators
![Operators](https://p76.f0.n0.cdn.getcloudapp.com/items/6quEZnzo/bd9ed612-c454-488d-99e3-47237866c01e.jpg?source=viewer&v=6133a6ca78498b57666506941afd8a12)

## 👉 Please save<font color='red'> **(ctrl-s or cmd-s)** </font> your file to make a checkpoint.

***
<a id='section4'> </a>
# <p style="font-family: Arial; font-size:2.4em;color:Red;"> 4. Input Statement </p>

<blockquote>
variable = input(prompt)
</blockquote>

#### **Problem #4.0**

#### Run all the following codes and see the results
#### <font color="red">"Where does the input box appear?" </font>

In [20]:
score = input('Enter your score')
print ('Your score is ', score)

Enter your score10
Your score is  10

In [21]:
score = input ('Enter your score')
final_score = score + 100;		# this line causes an error

print (final_score)

Enter your score10

TypeError: can only concatenate str (not "int") to str

In [22]:
score = input ('Enter your score')
final_score = int(score) + 100;		# this line causes an error

print (f'Final Score is {final_score:10}')

Enter your score10
Final Score is        110

#### **Problem #4.1**
<ol>
<li> <font color="red"> Ask the user name and score </font> </li>
<li> Print the name and score </li>
</ol>

In [25]:
name = input('Enter your name: ')
score = int(input('Enter your score: '))
print (f'Name: {name} \n Score: {score}')
# complete the code

Enter your name: Jordy
Enter your score: 10
Name: Jordy
 Score: 10

#### **Problem #4.2**
<ol>
<li> <font color="red"> Ask two scores </font> </li>
<li> Print all the scores, summation and average </li>
</ol>

<ul>
<li> Why should we use the funtion <font color="red"> int()</font> for the scores? </li>
</ul>

In [31]:
score1 = int(input('Enter the score 1: '))
score2 = int(input('Enter the score 2: '))
print(f'Scores: {score1}, {score2} \n Summation: {score1 + score2} \n Average: {(score1 + score2) /2}')
# Complete the code

Enter the score 1: 5
Enter the score 2: 10
Scores: 5, 10
 Summation: 15
 Average: 7.5

#### **Problem #4.3**
<ol>
<li> Ask the regular price
<li> Ask the discount rate as a percentage(e.g, 30)</li>
<li> Calcurate the final price ( Regular price * discount_rate / 100 ) </li>
<li> Print Regular Prices, Discount Rate and Final Price with F-String format </li>
</ol>
<ul>
<li> For example, print (f'Regular Price: {rprice:10}, Discount Rate: {drate:10}, Final Price: {fprice}) </li>
</ul>

In [40]:
price = int(input('Enter regular price: '))
discount_rate = int(input('Enter discount rate: '))
final_Price = price * (100 - discount_rate) / 100
print(f'Regular Price: ${price}\nDiscount Rate: {discount_rate}%\nFinal Price: ${final_Price}')

Enter regular price: 25
Enter discount rate: 10
Regular Price: $25
Discount Rate: 10%
Final Price: $22.5

#### **Problem #4.4**
<ol>
<li> Ask the regular price
<li> Ask the discount rate as a percentage(e.g, 30)</li>
<li> Calcurate the discount price ( Regular price * discount_rate / 100 ) </li>
<li> Print Regular Prices, Discount Rate and Final Price with F-String format </li>
</ol>
<ul>
<li> For example, </li>
<pre>
print (f'Regular Price: {rprice:10}, Discount Rate: {drate:10}, Final Price: {fprice})
<pre>
</ul>

In [41]:
price = int(input('Enter regular price: '))
discount_rate = int(input('Enter discount rate: '))
final_Price = price * (100 - discount_rate) / 100
print(f'Regular Price: ${price}\nDiscount Rate: {discount_rate}%\nFinal Price: ${final_Price}')

Enter regular price: 30
Enter discount rate: 25
Regular Price: $30
Discount Rate: 25%
Final Price: $22.5

#### **Problem #4.5**
<ol>
<li> Ask the celcius temperature(<font color="red">floating value</font>) to the user
<li> Calculate the Farenheit Temperature </li>
<li> Print the Celcius and Farenheit Temperature with F-String format. Show the two practional digits </li>
</ol>
<ul>
<li> For example, </li>
<pre>
print (f'Inputted Celcius: {celcius:10.2f}, Converted Fahrenhiet: {fahrenheit:10.2f}')
<pre>
</ul>

In [44]:
celcius = float((input('Enter the temperature: ')))
farenheit = (celcius * (9/5)) + 32
print(f'Inputted Celcius: {format(celcius, ".2f")} Converted Farenhiet: {format(farenheit,".2f")}')

# Print the output with F-string format(2 digits after decimal points)
# e.g,  95.75

Enter the temperature: 0
Inputted Celcius: 0.00 Converted Farenhiet: 32.00

#### **Problem #4.6**

<ol>
<li> Ask the last name to the user </li>
<li> Ask the first name to the user </li>
<li> Print the first and last name in the seprated line </li>
</ol>

In [47]:
# Complete your code
fname = input('Enter the last name ')
lname = input('Enter the first name ')
print(f'First name: {fname} \nLast name: {lname}')
# print (f' First name: {fname} \n Last name: {lname}')

Enter the last name Jordy
Enter the first name Figueroa
First name: Jordy
Last name: Figueroa

## 👉 Please save<font color='red'> **(ctrl-s or cmd-s)** </font> your file to make a checkpoint.

<a id=section5></a>
# <p style="font-family: Arial; font-size:2.4em;color:Red;"> 5. String </p>
<mark style="background-color:teal; color:white"> Useful Links </mark>
#### <a href="https://docs.python.org/3/library/stdtypes.html#string-methods"> String Method in Python Documentation </a>
#### <a href="https://www.w3schools.com/python/python_ref_string.asp"> W3 School Examples </a>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.1 </p>
<ul>
<li> Run all the example code cells below
</ul>

#### The string value can be accessed by <mark style="background-color:yellow; color:black">index</mark>

#### String variable can be followed by all the <mark style="background-color:yellow; color:black"> string methods.</mark>

In [ ]:
cname = "Python Programming"

print (cname)
print (cname[:6])
print (cname[:-11])
print (cname[:-1])


print (cname.split(" "))
print (cname.split()[0])
print (cname.split()[1])

### String Methods Examples

In [ ]:
string1 = 'Python Programming Livermore'
substring = 'py'

city = 'Livermore'
cnt = string1.count(city)
print ('Number of {1} occurrence {0}'.format(cnt, city))
print (f'Number of {cnt:10} occurrence {city:10}')

idx = string1.find('Livermore')
print ('Index of Livermore', idx)
idx = string1.find('Livermore', 8)
print ('Index of Livermore', idx)

print (string1[idx:idx+len(city)])

In [ ]:

languages = 'Python, Java, C++, Ruby, Rail, Java Script, PHP, Go, Gotlin'
list_languages = languages.split(',')

print (list_languages)
print (list_languages[0])

#### strip() methods

In [ ]:
strval = 'Python Programming    '
## strval has the additional spaces after values

strval = strval.strip() # now, the spaces after string value have been stripped
strval

In [ ]:

## rstrip

blank_padded_str = "    Python   "
print (blank_padded_str)
rstripped_str = blank_padded_str.rstrip(' ')
print (rstripped_str)

lstripped_str = blank_padded_str.lstrip(' ')
print (lstripped_str)

garbage_padded = '   Pyhton_+$?....'
rstripped_str = garbage_padded.rstrip('_+?.')

## isalnum, isalpha, isdigit, isnumeric

In [ ]:

val1 = 'Python'
print (val1.isalpha())
val1 = 'Python3'
print (val1.isalpha())


val2 = '94543'
print (val2.isnumeric())
print (val2.isdigit())
print (val2.isdecimal())

In [ ]:
original_str = input('Enter your string')
word_str = input('Enter the serach keyword')

idx = original_str.find(word_str)
print (original_str[idx: idx+len(word_str)])

## split()

In [ ]:
strval = "Python Java PHP C++ R SQL"
strval.split()

In [ ]:
strval = "Python Java PHP C++ R SQL"
strval = strval.split()
print (strval)

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.2 </p>
> <p> 1. Print the first name from the given names using the indices  </p>

In [ ]:
name = "John Doe"
fname = name[:4]
fname

'John'

> 2. Print the last name from the given name using the indices

In [ ]:
lname = # complete this code

> 3. Create a new variable that holds the last and first name, like "Doe John"

In [ ]:
new_name = # complete the code

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.3 </p>
> <p> 1. Find the index of first space in the name </p>

In [ ]:
name = 'Jane Doe'
found_index = name.find(' ')
found_index

> <p> 2. Find the index of the symbol '@' in the email string </p>

In [ ]:
email_str = 'John@company.com'
idx = # complete the code

> <p> 3. Find the 2nd index of the symbol '.' in the email string </p>

In [ ]:
email_str = 'noreply@database.company.edu'
idx_dot = # complete the code

> <p> 4. Does the email ID '2myemail' start with alphabet ? </p>
- Use the method <mark> isalpha() </mark>

In [ ]:
email_id = '2myemail'
result = email_id[0].isalpha()
print (result)

> <p> 5. Does the email ID 'myemail.1234' include non-alphabet letters ? </p>
- Use the method <mark> isalpha() </mark>

In [ ]:
email_id = 'myemail.1234'
result = # complete this code

> <p> 6. Does the email ID 'myemail.1234' end with the digit? </p>
- Use the method <mark> isalpha() </mark>

In [ ]:
email_id = 'myeamil.1234'
result = # complete this code

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.4 </p>

> <p> 1. Split this word 'Python C++ HTML PHP JAVA" by the space
- Use the method <mark> split() </mark>

In [ ]:
original_str = 'Python C++ HTML PHP JAVA'
split_str = original_str.split()
print (split_str)

> <p> 2. Split the word 'John/Jane/Doe/Smith/Tom' by the '/'
- Use the method <mark> split() </mark>

In [ ]:
original_str = 'John/Jane/Doe/Smith/Tom'
split_str =  # complete the code
split_str

> <p> 3. Merge the string 'first', 'second' and 'third' with the space between each word
- Use the operator <mark> + </mark>

In [ ]:
str1 = 'first'
str2 = 'second'
str3 = 'third'
merged_str = # complete the code
merged_str
# It must print 'first second third'

## 👉 Please save<font color='red'> **(ctrl-s or cmd-s)** </font> your file to make a checkpoint.