<a href="https://colab.research.google.com/github/aydcereal/CS122-MYREP/blob/main/ch7part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<style>
	h1 {
	--	background-color: grey;
		color: yellow
		border: 3px solid grey

	}
	p {
		background-color: grey;
		color: white
		border: 3px solid grey

	}
</style>
<h1> Chapter 7 List: Part 1</h1>

<p style="margin-left:40px"> 7.1 Basic Examples of List</p>

<p style="margin-left:40px"> 7.2 Understanding the "Mutable Data Type" </p>

<p style="margin-left:40px"> 7.3 Handing the list index out of range error </p>

<p style="margin-left:40px"> 7.4 List of List </p>

<p style="margin-left:40px"> 7.5 any() and all() </p>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 1. Basic Examples of List</p>

<style>
	h3{
		background-color: grey
		color: white
	}
</style>

<h1> Understanding the "Mutable Data Type"  </h1>

- Run all the following code cells and check out the result of code segments

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.0 </p>

#### Run all the cells and figure out the Mutal Data Type

### What is the value of numbers1 after run the following code cell?

In [ ]:
numbers1 = [1,2,3,4,5,6,7]
numbers2 = numbers1

del numbers2[:5]

numbers1

[6, 7]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.1 </p>

#### Figure out the difference between the following two code segments

#### The first code segment:
- the number is integer value in the function.
- The value of the number is changed by the function
- Check the value in the caller function main()
- The change of the value of the number is not reflected in the caller function

#### The second code segment:
- The list is a mutable data type
- The value of the list is changed by the function
- Check the value in the caller function main()
- The change of the value of the list is reflected in the caller function

## Explain the output of the following code segments. <br> Elaborate the reason why the output is as such.

In [ ]:
def myfuntion(number):
    number = 100

number = -1
myfuntion(number)
print ('number in main():', number)
# number in main(): -1. Change of the value of the number is not reflected in the caller function

number in main(): -1

In [ ]:
def myfunction(numbers):
    numbers[0] = 100

numbers = [-1]
myfunction(numbers)
print ('numbers in main():', numbers)
# numbers in main(): [100]. Change of the value of the list is reflected in the caller function

numbers in main(): [100]

# **On code segment 1, when myfunction is it assigns the local number = 100 which does not affect the global variable. so it remains -1 since it is out of scope. on code segment 2 the numbers is a list which is a mutable object. when myfunction(numbers) is passed called, a reference to the list is passed to the function. Inside the function, numbers[0] = 100 modifies the actual list object.**

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.2 </p>

#### List the other data types that are working as the same way as the list in the above code segments.
### Choose the data types from the following list:
- String
- Tuple
- Dictionary
- Set

- int
- float
- boolean

# **Dictionary and Set**

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.3 </p>

#### Review the following methods of the list data type.
- append()
- extend()
- insert()
- remove()
- sort()
- reverse()
- pop()
- count()
- index()
- copy()
- clear()

## Concatenation of the List
```
n1 = [1,2,3]
n2 = [4,5,6]
```

### complete your code here to concatenate the two lists

In [ ]:
n1 = [1,2,3]
n2 = [4,5,6]

concatenated_list = n1 + n2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

## Sort the list in the descending order
```
import random
numbers = random.sample(range(1,100), 10)
print (numbers)
```

### complete your code here to sort the list in the descending order

In [ ]:
import random
numbers = random.sample(range(1,100), 10)
numbers.sort()
numbers.reverse()
print (numbers)

[94, 86, 56, 55, 45, 36, 35, 34, 29, 16]

## Figoure out the difference between the following statements
```
numbers1 = [1,2,3,4,5,6,7,8,9,10]
numbers2 = numbers1
numbers3 = number1[:]
numbers4 = number1.copy()
```

### complete your code here to test the above statements
### Make some changes to the list numbers1 and check the output of numbers2, numbers3, and numbers4
### Elaborate the reason why the output is as such.

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

In [ ]:
numbers1 = [1,2,3,4,5,6,7,8,9,10]
numbers2 = numbers1
numbers3 = numbers1[:]
numbers4 = numbers1.copy()

numbers1[0] = 100
numbers1.append(200)

print(numbers1)
print(numbers2)
print(numbers3)
print(numbers4)

[100, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200]
[100, 2, 3, 4, 5, 6, 7, 8, 9, 10, 200]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

numbers2 creates a reference to numbers1 so any changes to numbers1 is reflected.
numbers3 = numbers1[:] creates a copy of numbers1 with the same elements but in a different memory location. so changes to number1 does not affect numbers3

numbers4 = numbers1.copy() also creates a copy of numbers1 with the same elements, just like numbers3 it is independent of numbers1

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 2. Understanding the "Immutable Data Type" </p>

# Object Identity
- this specific memory address is what you’ll know as the object’s identity.
- This identity is a unique identifier that distinguishes one object from others.
- You can use the id() function to find out the identity of an object.

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.0 </p>

### Even you use the same value, the identity of the object is different.
### Because the integer is an immutable data type.

#### Run the following code segment and figure out the identity of the object

In [ ]:
num: int = 10

id(num)

10751144

In [ ]:
num = 20    # The identity of the object is different even if you use the same variable
id(num)

10751464

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.1 </p>

### For the list data type, the identity of the object is the same.
### Because the list is a mutable data type.

#### Run the following code segment and figure out the identity of the list numbers1 and numbers2
#### Elaborate the reason why the identity of the list is the same.

In [ ]:
numbers1 = [1,2,3]
numbers2 = numbers1

print (id(numbers1), id(numbers2))
# The identity of the object is the same.

132293285422848 132293285422848

**Because numbers2 is a reference to numbers1**

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.2 </p>

### In function call, the identities of the list are the same.  
### Because the list is a mutable data type.
```
def myfunction(numbers):
    numbers[0] = 100

numbers = [1,2,3]
myfunction(numbers)
print (numbers)
```
### The identity of the list is the same.

Make the code segment to show the identity of the list is the same.

- Elaborate the reason why the identity of the list is the same.

In [ ]:
def myfunction(numbers):
    print(id(numbers))
    numbers[0] = 100

numbers = [1,2,3]
print(id(numbers))
myfunction(numbers)
print(id(numbers))
print (numbers)

132292540593152
132292540593152
132292540593152
[100, 2, 3]

**The identity of the list is the same because when you pass a list to a function, you pass a reference to the same object.**

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 3. Handing the list index out of range error </p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.1 </p>

## [1] Figure out the index error situation

### 1) Error or Not ?

```
numbers = [1,2,3]
numbers[3] = 100
```

### 2) Error or Not ?
```
print (numbers[:10])
```

In [ ]:
numbers = [1,2,3,4]
numbers[3] = 100

In [ ]:
numbers = [1,2,3]
#print (numbers[3])

print (numbers[1:10])

[2, 3]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.2 </p>

## [2] Handling the index error situation with the try-except statement

### Understanding the try-except statement

``` Basic Syntax of the try-except statement
try:
    # Code block where exception might occur
    # Your code here
except ExceptionType as e:
    # Code block to execute if an exception occurs
    # Your code here
else:
    # Code block to execute if no exception occurs
    # Your code here
```

#### Example 1

In [ ]:
#Example
numbers = [1,2,3]
try:
    print (numbers[3])
except Exception as e:
    print (e)

list index out of range

#### Example 2

In [ ]:
# Example 2
numbers = [1,2,3]
try:
    print (numbers[10])
except IndexError:
    print ('IndexError: list index out of range')
else:
    print ('No error')

IndexError: list index out of range

## Main Adavatage of the try-except statement

#### Die or Alive

- In error situation, the program is not terminated.
- The program can continue to run.

## Error Keywords
[Python Official Document for Errores and exception](https://docs.python.org/3/tutorial/errors.html)
```
Types of Exceptions
Python has several built-in exception types. Some common ones include:
- SyntaxError: Raised when there's a syntax error in the code.
- NameError: Raised when a variable is not found in the local or global scope.
- TypeError: Raised when an operation is performed on an inappropriate type.
- ValueError: Raised when a function receives an argument of the correct type but an inappropriate value.
- ZeroDivisionError: Raised when division or modulo by zero is performed.
```

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.3 </p>

### Make the code segment to handle the index error situation with the try-except statement
- There is 100 elements in the list numbers
- A user will pick an index of the element in the list
- Your program will print out the element in the list at the picked index
- If the index is out of range, the program will print out the error message "IndexError: list index out of range". Use the try-except statement to handle the error.
- If the index is valid, the program will print out the element in the list at the picked index

In [1]:
import random

numbers = [random.randint(1,100) for _ in range(100)]
print (numbers)

try:
  index = int(input("Enter an index (0-99): "))
  print("Element at index", index, "is", numbers[index])
except IndexError:
  print("IndexError: list index out of range")

[40, 77, 40, 1, 68, 55, 69, 57, 97, 6, 14, 27, 76, 73, 45, 98, 95, 81, 76, 24, 52, 99, 79, 34, 76, 38, 89, 15, 13, 17, 4, 31, 1, 33, 54, 78, 42, 68, 43, 28, 57, 69, 52, 88, 86, 2, 65, 55, 16, 31, 2, 63, 16, 25, 2, 68, 41, 60, 40, 16, 58, 46, 21, 54, 42, 63, 38, 81, 13, 5, 97, 11, 63, 85, 82, 12, 2, 94, 7, 53, 86, 22, 90, 34, 47, 86, 20, 21, 95, 2, 4, 24, 96, 43, 98, 1, 86, 9, 50, 2]
Enter an index (0-99): 100
IndexError: list index out of range

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 4. List of List

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.1 </p>

## There are students records in the list "students".
```
- The Student record consists of the student name, age, and the list of scores in Math, Science, and English
- Make a function to print out the student record in the following format
-- No return value. Use the same list of students. Do not create a new list.
- Name: <student name> - Age: <student age> - Scores: <list of scores> - Total Score: <total score> - Average Score: <average score>
- The function will take the list of students as an input and print out the student record for each student in the list

students = [
    ["John", 20, [80, 85, 90]],
    ["Jane", 21, [82, 86, 89]],
    ["Doe", 22, [84, 88, 92]]
]
```

In [3]:
def print_student_record(students):
    ###################################################
    # code here
    # Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
    # Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.67
    # ...
    ###################################################
    print ("**********************************************************************")
    for student in students:
        print (f"Name: {student[0]} - Age: {student[1]} - Scores: {student[2]} - Total Score: {sum(student[2])} - Average Score: {round(sum(student[2])/len(student[2]))}")



students = [
    ["John", 20, [80, 85, 90]],
    ["Jane", 21, [82, 86, 89]],
    ["Doe", 22, [84, 88, 92]],
    ['Kim', 23, [85, 89, 91]],
    ['Lee', 24, [86, 90, 93]],
    ['Alex', 25, [87, 91, 94]],
    ['Kyle', 26, [88, 92, 95]],
    ['Jenny', 27, [89, 93, 96]],
    ['Jake', 28, [90, 94, 97]],
    ['Jessica', 29, [91, 95, 98]],
    ['Josh', 30, [92, 96, 99]],
    ['Jill', 31, [93, 97, 100]] ]

print_student_record(students)

**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 86
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 90
Name: Alex - Age: 25 - Scores: [87, 91, 94] - Total Score: 272 - Average Score: 91
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 92
Name: Jenny - Age: 27 - Scores: [89, 93, 96] - Total Score: 278 - Average Score: 93
Name: Jake - Age: 28 - Scores: [90, 94, 97] - Total Score: 281 - Average Score: 94
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 95
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 96
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 97

## Make the function "sort_students" to sort the students by the the following criteria

- Key = 1: Sort the students by the total score
- Key = 2: Sort the students by the age
- Key = 3: Sort the students by the name
- Ascending = True: Sort in ascending order
- Ascending = False: Sort in descending order
```
def sort_students(students, key, ascending):
    ###################################################
    # code here
    ###################################################

```

In [7]:
def sort_students(students, key, ascending):
    if key == 1:
      students.sort(key=lambda s: sum(s[2]), reverse = not ascending)
    elif key == 2:
      students.sort(key=lambda s: s[1], reverse=not ascending)
    elif key == 3:
      students.sort(key=lambda s: s[0], reverse=not ascending)



print_student_record(students)
sort_students(students, 1, True)
print_student_record(students)
sort_students(students, 2, False)
print_student_record(students)
sort_students(students, 3, True)
print_student_record(students)

**********************************************************************
Name: Alex - Age: 25 - Scores: [87, 91, 94] - Total Score: 272 - Average Score: 91
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88
Name: Jake - Age: 28 - Scores: [90, 94, 97] - Total Score: 281 - Average Score: 94
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 86
Name: Jenny - Age: 27 - Scores: [89, 93, 96] - Total Score: 278 - Average Score: 93
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 95
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 97
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 96
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 92
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 90
**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 86
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 90
Name: Alex - Age: 25 - Scores: [87, 91, 94] - Total Score: 272 - Average Score: 91
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 92
Name: Jenny - Age: 27 - Scores: [89, 93, 96] - Total Score: 278 - Average Score: 93
Name: Jake - Age: 28 - Scores: [90, 94, 97] - Total Score: 281 - Average Score: 94
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 95
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 96
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 97
**********************************************************************
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 97
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 96
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 95
Name: Jake - Age: 28 - Scores: [90, 94, 97] - Total Score: 281 - Average Score: 94
Name: Jenny - Age: 27 - Scores: [89, 93, 96] - Total Score: 278 - Average Score: 93
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 92
Name: Alex - Age: 25 - Scores: [87, 91, 94] - Total Score: 272 - Average Score: 91
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 90
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 86
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85
**********************************************************************
Name: Alex - Age: 25 - Scores: [87, 91, 94] - Total Score: 272 - Average Score: 91
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88
Name: Jake - Age: 28 - Scores: [90, 94, 97] - Total Score: 281 - Average Score: 94
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 86
Name: Jenny - Age: 27 - Scores: [89, 93, 96] - Total Score: 278 - Average Score: 93
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 95
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 97
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 96
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 92
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 90

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.2 </p>

## Make the function "reconstruct_list(rows, cols)" that reconstructs the list of integers in the following way
#### Return value: new list of list of integers

- numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
- reconstruct_list(rows, cols) will reform the list of list of integers with the number of rows and columns
- For example, if rows = 4 and cols = 6, the function will return the following list of list of integers
- numbers = [ [1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24] ]
- For example if rows = 2 and cols = 12,
- numbers = [ [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] ]
- For example if rows = 8 and cols = 3,
- numbers = [ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24] ]
```
def reconstruct_list(numbers, rows, cols):
    ###################################################
    # code here
    ###################################################

```

In [11]:
def reconstruct_list(numbers, rows, cols):
    result = []
    for i in range(rows):
      start = i * cols
      end = start + cols
      result.append(numbers[start:end])
    return result

numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
new_numbers = reconstruct_list(numbers, 4, 6)
print (new_numbers)

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24]]

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 5. any() and all()

Use the any() and all() functions to check the elements in the list

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.1 </p>

#### Run the following code segment and figure out the output of the code segment

In [12]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

any( x % 2 == 0 for x in numbers)

True

In [13]:
all ( x > 0 for x in numbers)

True

Use the any() and all() functions to check the elements in the list

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.2</p>

#### Make the function isSubset(numbers1, numbers2) to check if the numbers1 is a subset of numbers2
- Return True if the numbers1 is a subset of numbers2
- Return False otherwise
- Use the any() and all() functions to check the elements in the list

In [14]:
def isSubset(numbers1, numbers2):
    return all(x in numbers2 for x in numbers1)


numbers1 = [1, 2, 3]
numbers2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (isSubset(numbers1, numbers2))

True

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>